.footer{
    background-color: #525252;
    padding-top: 4vh;
    height: 14.5vh;
    font-size: 4.2vh;
    color: white;
    text-align: center;
}
.main_area{
    background-color: #ECE5FF;
}
h1{
    font-size: 5vw;
    position: relative;
    left: 2vw;
    padding-top: 2vh;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  p{
    margin: 0;
  }
  .wrap-tab{
    overflow: hidden;
  }
  
  .list-tab{
    display: flex;
    margin: 0 -2px;
    border-bottom: 3px solid #5bbee5;
    width: 80%;
    position: relative;
    left: 10vw;
  }
  .list-tab > li{
    display: block;
    padding: 0.5em 1em;
    margin: 0 2px;
    width: 100%;
    color: #fff;
    text-align: center;
    background: #ccc;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .list-tab .active{
    background: #5bbee5;
  }
  
  .tab-content{
    display: none;
    padding: 1em;
    border-bottom: 1px solid #5bbee5;
    border-left: 1px solid #5bbee5;
    border-right: 1px solid #5bbee5;
    width: 80%;
    position: relative;
    left: 10vw;
  }
  .tab-content.active{
    display: block;
  }